---
http_interactions:
- request:
    method: get
    uri: https://api.granatum.com.br/v1/clientes?access_token=8c953409a379289cd99ba22ccbfef9e996d9457ebead020b2ada10bd58367172&documento=87626523202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"009655e7ac648a1d64980fc968065375"'
    body:
      encoding: UTF-8
      string: '[{"id":579126,"nome":"teste","nome_fantasia":null,"documento":"87626523202","telefone":null,"endereco":null,"endereco_numero":null,"endereco_complemento":null,"bairro":null,"cep":null,"cidade_id":null,"estado_id":null,"email":null,"observacao":null,"estado":null,"cidade":null}]'
  recorded_at: Sat, 30 Jul 2016 23:08:01 GMT
recorded_with: VCR 3.0.3
