---
http_interactions:
- request:
    method: post
    uri: https://api.granatum.com.br/v1/clientes?access_token=token
    body:
      encoding: US-ASCII
      string: nome=teste&documento=24749752762
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"8bc6b9b121104f34a85b5c051800f3b6"'
    body:
      encoding: UTF-8
      string: '{"id":579128,"nome":"teste","nome_fantasia":null,"documento":"24749752762","inscricao_estadual":null,"inscricao_municipal":null,"telefone":null,"endereco":null,"endereco_numero":null,"endereco_complemento":null,"bairro":null,"cep":null,"cidade_id":null,"estado_id":null,"email":null,"observacao":null,"fornecedor":false,"estado":null,"cidade":null}'
  recorded_at: Sat, 30 Jul 2016 22:48:51 GMT
recorded_with: VCR 3.0.3
